.portfolio{position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;

        .progressbar{
            height: 10px;
            background-color: #fff;
        }
        .container{
            
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            height: 100%;
            width:100%
            
            
            
        }

    }
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        gap:50px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .imgcontainer{
            flex:1;
            height: 50%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .textcontainer{
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        h2{
            font-size:72px;
        }
        p{
            color: gray;
            font-size: 20 px;
        }
        button{
            background-color: orange;
            border: none;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            cursor: pointer;
        }

    }
   
}